section.education{
  position: relative;
  background-image: url("../assets/images/heic1808aYEN.jpg");
  background-repeat: no-repeat;
  /* background-position: center; */
  /* height: 100vh;  */
  /* width: 100%;  */
  /* padding: 50px 10px 50px 30px;  */
}
.education-bx {
  background-color: transparent;
  text-align: center;
  padding: 60px 50px;
}

.education-bx h2 {
  color: black;
  font-size: 45px;
    font-weight: 700;
    margin-top: 45px;
}
.education-bx p {
  color: black;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 54px 0 75px 0;
  font-size: 200;
}
.item-education {
  margin: 200px;
  margin-left:1px;
  width:140%;
  height: 350px;
  border-radius: 4px;
  background: transparent;
  display: flex;
  padding: .4em;
  border-radius: 55px;
}

.item-education p {
  height: 100%;
  width: 200px;
  overflow: hidden;
  border-radius: 5px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-education p span {
  min-width: 14em;
  padding: 5px;
  text-align: center;
  color:black ;
  letter-spacing: .1em;
}


.item-education h3{
  color: black;
  font-weight: 700;
  font-style: bold;
}
.educationSlider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}



