* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bacasime Antique', serif;
  font-family: 'Dancing Script', cursive;
  font-family: 'Quicksand', sans-serif;
}

/* **************NAVBAR CSS***************** */

img {
  width: 100%;
  height: auto;
}
nav.navbar {
    padding: 18px 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    transition: 0.32s ease-in-out;
    word-spacing: 50pc;
    letter-spacing: 0.2pc;
    margin-top: 10px;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color:white !important;
  padding: 0 2%;
  font-size: 18px;
  opacity: 1;
  margin-left:5%;
  text-decoration: none;
  display: inline; /* ya da istediğiniz stil */

  margin-right: 10px;
}

  span.navbar-text {
    display: flex;
    align-items: center;
  }
/* .navbar-toggle{
    display: none;
} */
  .social-icon {
    margin-top: 40%;
    display: grid;
    position: absolute;
    right:4%;
    cursor: pointer;
    place-items: center;
    
  }

  .social-icon a::before {
    width: 60px;
    height: 60px;
    position: absolute;
    transform: scale(0);
    transition: 0.3s ease-in-out;
  }
  .social-icon a:hover::before {
  
    transform: translateY(0.5em);
  }
  .social-icon a img {
  
    transition: transform 0.5s;
    width: 70%;
  }
  .social-icon a:hover img {
    transform: scale(0.9);
  }
  .navbar-icon{
    width: 5%;
    padding: 1%;
    margin-left: 1%;
    position: absolute;
    left: -15px;
    top: -2px;
  
  }
  .navbar-icon p{
    color: #FFFFFF;    
    letter-spacing: 3px;

  }

/* **************BANNER CSS***************** */
section.banner {
    height: 100vh;
    width: 100%;
    padding: 0;
    position: relative;
    margin-top: 0;
    padding: 260px 20px 100px 50px;
    background-image: url("../assets/images/heic0910h\ \(1\).jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    }
    .banner .tagline {
      font-weight: 700;
      padding: 8px 10px; 
      font-size: 20px;
     
    }
    .banner h1 {
      font-size: 50px;
      font-weight: 500;
      letter-spacing: 0.8px;
      line-height: 1;
      margin-bottom: 20px;
      color:honeydew;
    }
    .banner p {
      color:honeydew;
      font-size: 18px;
      letter-spacing: 0.8px;
      line-height: 1.5em;
    }
    .banner img {
      animation: updown 3s linear infinite;
      width: 150px;
      height: 150px;
      position: absolute;
      right:300px;
      bottom: 150px;
    }
    @keyframes updown {
      /* animation */
      0% {
        transform: translateY(-20px);
      }
      50% {
        transform: translateY(20px);
      }
      100% {
        transform: translateY(-20px);
      }
    }
    .wrap{
      color: #FFFFFF;
    }
    .btn {
      margin-top: 6%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 13rem;
      height: 3rem;
      background-size: 300% 300%;
      backdrop-filter: blur(0.8rem);
      border-radius: 5rem;
      transition: 0.5s;
      animation: gradient_301 5s ease infinite;
      border: double 4px transparent;
      background-image: linear-gradient(#212121, #212121),  linear-gradient(137.48deg, #ffdb3b 10%,#FE53BB 45%, #8F51EA 67%, #0044ff 87%);
      
      
    }
    #container-stars {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      overflow: hidden;
      transition: 0.5s;
      backdrop-filter: blur(1rem);
      border-radius: 5rem;
    }
    strong {
      text-decoration: none;
      z-index: 2;
      font-family: 'Avalors Personal Use';
      font-size: 12px;
      letter-spacing: 5px;
      color: #FFFFFF;
      text-shadow: 0 0 4px white;
    }
    #glow {
      position: absolute;
      display: flex;
      width: 12rem;
    }
    .circle {
      width: 100%;
      height: 30px;
      filter: blur(2rem);
      animation: pulse_3011 4s infinite;
      z-index: -1;
    }
    .circle:nth-of-type(1) {
      background: rgba(254, 83, 186, 0.636);
    }
    .circle:nth-of-type(2) {
      background: rgba(142, 81, 234, 0.704);
    }
    .btn:hover #container-stars {
      z-index: 1;
      background-color: #212121;
    }
    .btn:hover {
      transform: scale(1.1)
    }
    .btn:active {
      border: double 4px #FE53BB;
      background-origin: border-box;
      background-clip: content-box, border-box;
      animation: none;
    }
    #stars {
      position: relative;
      background: transparent;
      width: 200rem;
      height: 200rem;
    }
    #stars::after {
      content: "";
      position: absolute;
      top: -10rem;
      left: -100rem;
      width: 100%;
      height: 100%;
      animation: animStarRotate 90s linear infinite;
    }
    #stars::after {
      background-image: radial-gradient(#ffffff 1px, transparent 1%);
      background-size: 50px 50px;
    }
    #stars::before {
      content: "";
      position: absolute;
      top: 0;
      left: -50%;
      width: 170%;
      height: 500%;
      animation: animStar 60s linear infinite;
    }
    #stars::before {
      background-image: radial-gradient(#ffffff 1px, transparent 1%);
      background-size: 50px 50px;
      opacity: 0.5;
    }
    
    @keyframes animStar {
      from {
        transform: translateY(0);
      }
    
      to {
        transform: translateY(-135rem);
      }
    }
    
    @keyframes animStarRotate {
      from {
        transform: rotate(360deg);
      }
      to {
        transform: rotate(0);
      }
    }
    
    @keyframes gradient_301 {
      0% {
        background-position: 0% 50%;
      }
    
      50% {
        background-position: 100% 50%;
      }
    
      100% {
        background-position: 0% 50%;
      }
    }
    
    @keyframes pulse_3011 {
      0% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
      }
    
      70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
      }
    
      100% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      }
    }
    

/* **************ABOUT ME CSS***************** */
.aboutme {
    position: relative;
    margin-top: 0;
    background-image: url("../assets/images/heic1307a\ \(1\).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh; 
    width: 100%; 
    padding: 50px 10px 50px 30px; 

  }
  
  .aboutme-bx {
    background: transparent;
    padding: 30px 50px;
    margin-top: 10px;
}

.aboutme-bx h2 {
  text-align: center;
  color: #FFFFFF;
  margin-top:25px;
  letter-spacing: 3px;
  font-size: 38px;
  margin-top: 65px;

  } 
  .aboutme-bx p {
    color: #FFFFFF;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
  }

.aboutmeyazi{
  text-align: center;
}

  /* ************SKILLS CSS************ */

  .skill {
      margin-top: 0;
      padding: 0 0 50px 0;
      position: relative;
      background-image: url("../assets/images/wallpaperflare.com_wallpaper\ \(4\).jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100vh;
    }
    .skill-bx {
      background-color: transparent;
      text-align: center;
      padding: 60px 50px;
    }
    .skill h2 {
      text-align: center;
      color: #FFFFFF;
      margin-top:25px;
      letter-spacing: 3px;
      font-size: 38px;
      margin-top: 65px;

    }
    .skill p ,h5 {
        color: #FFFFFF;
        font-size: 18px;
        letter-spacing: 0.8px;
        line-height: 1.5em;
        margin: 14px 0 75px 0;
        font-size: 200;
    }

    .skill-slider {
      width: 80%;
      margin: 0 auto;
    }
    .skill-slider .item img {
      width: 50%;
      margin: 0 auto 15px auto;
      margin-top: 35%;
  
    }
  .item img{
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 65%;
    margin-top: 35%;
  }
  .item img:hover{
    box-shadow: 0 0 20px 10px #A9C3DA;
  }
  
  
    /* ************EDUCATION CSS************ */

    section.education{
        position: relative;
        background-image: url("../assets/images/nasa--hI5dX2ObAs-unsplash\ \(1\).jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100vh;
      }
      .education-bx {
        background-color: transparent;
        text-align: center;
        padding: 60px 50px;

      }
      
      .education-bx h2 {
        text-align: center;
        color: #FFFFFF;
        margin-top:25px;
        letter-spacing: 3px;
        font-size: 38px;
        margin-top: 65px;
      }
        .education-bx p{
          color: #FFFFFF;
          text-align: center;
        }
      
      .edu {
        color: #FFFFFF;
        font-size: 18px;
        letter-spacing: 0.8px;
        line-height: 1.5em;
        margin: 54px 0 75px 0;
        font-size: 200;
      }
       .edubaslikk {
        margin:30px ;
   } 

      
      .imgeedu{
        width: 25px;
        border: none;
      }
      .education-kartlar{
        background-color: transparent;
        color:white  !important;   
        backdrop-filter: blur(8px);
      }
      .icon-with-title {
        display: flex;
        align-items: center;
      }
      
      .icon-with-title img {
        margin-top: -8px;
        margin-right: 25px; /* İkon ile başlık arasına boşluk bırakmak için */
        width: 30px;
        height: 25px;
      }
          /* ************PROJECTS CSS************ */

        section.projects{
  
          position: relative;
          background-image: url("../assets/images/heic1808aYEN.jpg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          width: 100%;
          height: 100vh;
            
            
           
    }
      .card{
        width: 18rem;
        padding-top: 25%;  
        background-color: transparent;
        margin-top: 45px;
        cursor: pointer;
        
        
      }
      .card{
        border-radius: 48px;
        box-shadow: 0 4px 8px (0, 0, 0, 0.); /* Daha belirgin bir gölge için uzunlukları ve renkleri ayarlayabilirsiniz */
        transition: box-shadow 0.3s ease; /* Gölge efektinin animasyon süresi ve tarzı */
            }
      .card:hover{
       
      backdrop-filter: blur(8px); /* Kartın üzerine gelindiğinde daha belirgin bir gölge eklemek için */

}
      
      .title{
        text-align: center;
        color: #FFFFFF;
      }

      .text{
        color:#FFFFFF;
      }
      .baslik{
        text-align: center;
        color: #FFFFFF;
        letter-spacing: 3px;
        font-size: 38px;
        margin-top: 6%;
      }
      .yazi{
        color: #FFFFFF;
        text-align: center;
      }
      
      .buton-project {
        display: inline-block;
        background-color: transparent;
        border: none;
        color: #FFFFFF;
        text-align: center;
        padding: 8px;
        width: 130px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
        margin-left: 55px;
       }
       
       .buton-project span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
       }
       
       .buton-project span:after {
        content: '»';
        position: absolute;
        top: 0;
        right: -15px;
        transition: 0.5s;
       }
       
       .buton-project:hover span {
        padding-right: 15px;
       }
       
       .buton-project:hover span:after {
        opacity: 1;
        right: 0;
       }

          /* ************Blog CSS************ */
            section.blog {
              position: relative;
              background-image: url("../assets/images/heic1608YENİ.jpg");
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
              width: 100%;
              height: 100vh;

          }
            .baslikblog{
              text-align: center;
              color: #FFFFFF;
              margin-top:25px;
              letter-spacing: 3px;
              font-size: 38px;
              margin-top: 6%;
              border-radius: 48px;

            }
            .blogcard img{
              transition: box-shadow 0.3s ease-in-out;
            }
            .blogcard:hover{
              box-shadow: 0 0 20px 10px #A9C3DA;
            }
            
            .yaziblog{
              color: #FFFFFF;
              text-align: center;
            }
            .blogcard{
              border-radius: 24px;
              margin-top: 50px;
            }
            .kart-title{
              color: #FFFFFF;
            }
            .popup1{
              backdrop-filter: blur(8px);
              position: fixed;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              margin: auto;
              width: 80%;
              height: 80%;
              border: 1px solid #ccc;
              border-radius: 5px;
              padding: 20px;
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);         
              border-radius: 24px;
            
            }
            .popup1 p{
              margin: 20px;
              padding: 20px;
              color: #fff;
              
            }
            .popup1 h2 {
              margin-left: 35px;
              color: #fff;
            }
            .popup1 h4{
              color: #fff;
              margin-left: 1100px;
            }
            .popup2{
              width: 80%;
              margin:120px;
              margin-left: 50px;
            }
            .blog-img-card{
              border-radius: 24px;
            }
            .blog-button-popup  {
              align-items: center;
              background-color: transparent;
              color: #fff;
              cursor: pointer;
              display: flex;
              text-decoration: none;
              text-transform: uppercase;
              outline: 0;
              border: 0;
              padding: 1rem;
            }
            
            .blog-button-popup:before {
              content: "";
              display: inline-block;
              height: 1px;
              margin-right: 10px;
              transition: all .42s cubic-bezier(.25,.8,.25,1);
              width: 0;
            }
            
            .blog-button-popup:hover:before {
              background-color: #fff;
              width: 3rem;
            }
            
          /* ************contact CSS************ */
      section.contact{
        position: relative;
        background-image: url("../assets/images/heic0817a\ \(yeni\).jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100vh;
        
    }
      .iletisim h2{
        color: #FFFFFF;
        font-size: 90px;
        font-weight: 90px;
        margin-top: 40%;
      }

      .form{
        margin-top: 25%;
        padding: 25px;
      }
      .label ,h3{
        color: #FFFFFF;
      }
  
      .contact-buton {
        position: relative;
        overflow: hidden;
        display: inline-block;
        line-height: 15px;
        text-decoration: none;
        cursor: pointer;
        background: transparent;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        border-radius: 12px;
        padding: 15px;
        width: 150px;
        margin-left: 450px;
       }
       .text-contact{
        color:#FFFFFF;
       }
       .contact-buton span:first-child {
        position: relative;
        transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
       }
       
      .contact-buton span:last-child {
        color: white;
        display: block;
        position: absolute;
        bottom: 0;
        transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
        z-index: 100;
        opacity: 0;
        top: 50%;
        left: 50%;
        transform: translateY(225%) translateX(-50%);
        height: 14px;
        line-height: 13px;
       }
       
       .contact-buton:after {
        content: "";
        position: absolute;
        bottom: -50%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        transform-origin: bottom center;
        transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
        transform: skewY(9.3deg) scaleY(0);
        z-index: 50;
       }
       
       .contact-buton:hover:after {
        transform-origin: bottom center;
        transform: skewY(9.3deg) scaleY(2);
       }
       
       .contact-buton:hover span:last-child {
        transform: translateX(-50%) translateY(-50%);
        opacity: 1;
        transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
       }
      .contactme{
      letter-spacing: 3px;
      
      }
      /* FOOTER CSS */

      footer.footer{
        background-color:#130F10;
      }
    .footerbaslik{
      color: #FFFFFF;
      letter-spacing: 3px;
      margin-left:10px;
     font-size:medium;
    }
    .footeryazi{
      color: #FFFFFF;
    }


    .imgCont{
      width:30px;
    }
    .footercontyazi{
      color: #fff;
      margin-left: 50px;
      display: flex;
      text-align: center;
    }
     
